/*
#power{
  -fx-background-radius: 50%;
  -fx-graphic: url("../icon/power0.png");
}

#power:selected{
  -fx-graphic: url("../icon/power1.png");
}

#reboot{
  -fx-graphic: url("../icon/reboot.png");
}
*/
