#account {
  -fx-font-size: 15px;
  -fx-font-weight: bolder;
}

.button {
  -fx-background-color: transparent;
  -fx-border-style: solid;
  -fx-border-color: gray;
  -fx-border-width: 1px;
  -fx-border-radius: 5px;
}

.button:hover {
  -fx-background-color: #A5D2D3;
}
